/* stylelint-disable selector-class-pattern */
@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

:root {
  font-family: 'Baloo 2', cursive;
  color: rgb(255, 255, 255);
  --main-bg-color: linear-gradient(rgb(0, 50, 215), rgb(13, 170, 233));
}

//=================================================================================================
//---------------------------------------- START PAGE ---------------------------------------------
//=================================================================================================

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.start-page {
  background: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  display: block;
  position: absolute;
  font-size: 2rem;
  top: 25px;
  right: 25px;
}

.countdown {
  display: block;
  position: absolute;
  font-size: 2rem;
  top: 25px;
  left: 25px;
}

.hideName {
  display: none;
}

.logo-container {
  background: linear-gradient(rgb(215, 215, 215), rgb(219, 135, 9), rgb(235, 61, 8));
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 6rem;
  font-family: Slackey, cursive;
}

.logo-description-container {
  margin: 60px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-description-container h1 {
  text-transform: uppercase;
  font-family: Slackey, cursive;
  font-size: 4.5rem;
}

.quiz-description {
  text-align: left;
  max-width: 450px;
}

button {
  border: none;
}

.logo-description-container h2 {
  font-size: 1rem;
}

.player-start-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.player {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.register-name-button {
  background: rgba(255, 255, 255, 0.699);
  padding: 3px 10px;
  border: none;
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
  margin-bottom: 7px;
}

.register-name-button:hover {
  background: rgb(255, 174, 0);
}

.start, .highscore-btn {
  background: linear-gradient(rgb(246, 201, 77), rgb(219, 135, 9), rgb(235, 61, 8));
  padding: 10px 50px;
  border-radius: 50px;
  border: none;
  margin: 20px;
  margin-bottom: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
}

.start:hover {
  background: linear-gradient(rgb(255, 232, 25), rgb(253, 138, 51));
  color: black;
}

.category-page,
.difficulty-page {
  background: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;

  h2 {
    position: absolute;
    top: 40px;
    font-size: 3rem;
    text-decoration: underline;
  }
}

.highscore-page {
  background: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;

  h2 {
    position: absolute;
    top: 40px;
    font-size: 3rem;
    text-decoration: underline;
  }

  ol {
    font-size: 2rem;
  }
}

.choice-btn {
  background: linear-gradient(rgb(246, 201, 77), rgb(219, 135, 9), rgb(235, 61, 8));
  color: white;
  padding: 10px 50px;
  border-radius: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  min-width: 250px;
}

//=================================================================================================
//-------------------------------------- QUESTION PAGE --------------------------------------------
//=================================================================================================


.question-page {
  position: relative;
  background: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.question-container p {
  margin: 0 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.answers-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.answer-btn {
  background: linear-gradient(rgb(246, 201, 77), rgb(219, 135, 9), rgb(235, 61, 8));
  width: 80vw;
  padding: 10px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.answer-btn:hover {
  background: linear-gradient(rgb(255, 232, 25), rgb(253, 138, 51));
  color: black;
  border: 3px solid rgb(0, 0, 0);
}

.green-answer {
  background: linear-gradient(rgb(122, 246, 77), rgb(53, 130, 8), rgb(7, 93, 13));
  border: 5px solid green;
}

.green-answer:hover {
  background: linear-gradient(rgb(122, 246, 77), rgb(53, 130, 8), rgb(7, 93, 13));
  border: 5px solid green;
  color: white;
}

.red-answer {
  background: linear-gradient(rgb(246, 91, 77), rgb(181, 43, 12), rgb(106, 16, 4));
  border: 5px solid red;
}

.red-answer:hover {
  background: linear-gradient(rgb(246, 91, 77), rgb(181, 43, 12), rgb(106, 16, 4));
  border: 5px solid red;
  color: white;
}

.next-button {
  background: none;
  border: none;
  margin-top: 70px;
}

//arrow symbol for next question button
.material-symbols-outlined {
  font-size: 4.5rem;
  color: rgb(255, 255, 255);
}

.material-symbols-outlined:hover {
  background: linear-gradient(rgb(246, 201, 77), rgb(219, 135, 9), rgb(235, 61, 8));
  border: none;
  border-radius: 50%;
}

.category-img {
  width: 340px;
  height: 340px;
}


//=================================================================================================
//-------------------------------------- GAME OVER PAGE -------------------------------------------
//=================================================================================================

.game-over-page {
  background: var(--main-bg-color);
  min-height: 100vh;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game-over {
  margin: 15px;
  text-transform: uppercase;
  font-family: 'Slackey', cursive;
  font-size: 4.5rem;
  text-align: center;
}

.points-text {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2.5rem;
  text-align: center;
}

.play-again {
  background: linear-gradient(rgb(246, 201, 77), rgb(219, 135, 9), rgb(235, 61, 8));
  padding: 10px 50px;
  border-radius: 50px;
  border: none;
  margin: 20px;
  margin-bottom: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
}

.play-again:hover {
  background: linear-gradient(rgb(255, 232, 25), rgb(253, 138, 51));
  color: black;
}

//=================================================================================================
//-------------------------------------- @ MEDIA QUERIES ------------------------------------------
//=================================================================================================

//------------------------------------------- TABLET  ---------------------------------------------
@media screen and (min-width: 768px) {
  .start-page {
    justify-content: space-evenly;
  }

  .question-page {
    justify-content: space-around;
  }

  .question-container p {
    max-width: 600px;
  }

  .answers-container button {
    max-width: 500px;
  }

  .game-over-page {
    justify-content: space-evenly;
  }
}

// // Anton VVVVVVV
// .app {
//   margin-block: 20px;
// }

// p {
//   position: fixed;
//   top: 10px;
//   left: 10px;
//   font-size: 2rem;
//   color: black;
//   background-color: white;
//   border: solid 1px black;
//   border-radius: 5px;
//   z-index: 10;
//   padding: 5px;
// }

// .questionDiv {
//   position: relative;
//   width: 100%;
//   height: 400px;
//   margin-bottom: 100px;
//   display: flex;
//   flex-wrap: wrap;
//   gap: 30px;
//   justify-content: space-between;
//   border: solid 2px white;
//   padding: 10px;

//   h2 {
//     text-align: center;
//     width: 100%;
//     display: block;
//     text-decoration: underline;
//     margin-bottom: 50px;
//   }

//   button {
//     border: solid 2px white;
//     background-color: black;
//     color: white;
//     border-radius: 10px;
//     width: 150px;
//     height: 60px;
//     display: block;
//   }
// }


//------------------------------------------- DESKTOP ---------------------------------------------
@media screen and (min-width: 1024px) {
  .start-page {
    justify-content: space-evenly;
  }

  .question-page {
    justify-content: space-around;
  }

  .question-container p {
    max-width: 800px;
  }

  .answers-container button {
    max-width: 600px;
  }

  .game-over-page {
    justify-content: space-evenly;
  }
}