/* stylelint-disable selector-class-pattern */
@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

:root {
  font-family: 'Baloo 2', cursive;
  color: rgb(255, 255, 255);
  --main-bg-color: linear-gradient(rgb(0, 50, 215), rgb(13, 170, 233));
}

//=================================================================================================
//---------------------------------------- START PAGE ---------------------------------------------
//=================================================================================================

.start-page {
  background: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hideName {
  display: none;
}

.logo-container {
  background: linear-gradient(rgb(215, 215, 215), rgb(219, 135, 9), rgb(235, 61, 8));
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 6rem;
  font-family: 'Slackey', cursive;
}

.logo-description-container {
  margin: 60px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-description-container h1 {
  text-transform: uppercase;
  font-family: 'Slackey', cursive;
  font-size: 4.5rem;
}

.logo-description-container h2 {
  font-size: 1rem;
}

.player {
  background-color: white;
  color: black;
  margin-top: 50px;
}

.start {
  background: linear-gradient(rgb(246, 201, 77), rgb(219, 135, 9), rgb(235, 61, 8));
  padding: 10px 50px;
  border-radius: 50px;
  margin: 20px;
  margin-bottom: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.start:hover {
  background: linear-gradient(rgb(255, 232, 25), rgb(253, 138, 51));
  color: black;
}

//=================================================================================================
//-------------------------------------- QUESTION PAGE --------------------------------------------
//=================================================================================================


.question-page {
  background: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.question-container p {
  margin: 80px 10px 10px 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.answers-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.answers-container button {
  background: linear-gradient(rgb(246, 201, 77), rgb(219, 135, 9), rgb(235, 61, 8));
  width: 80vw;
  padding: 10px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.answers-container button:hover {
  background: linear-gradient(rgb(255, 232, 25), rgb(253, 138, 51));
  color: black;
  border: 3px solid rgb(0, 0, 0);
}

.next-button {
  background: none;
  border: none;
  margin-top: 70px;
}

.material-symbols-outlined { //arrow symbol for next question button
  font-size: 4.5rem;
  color: rgb(255, 255, 255);
}

.material-symbols-outlined:hover {
  background: linear-gradient(rgb(246, 201, 77), rgb(219, 135, 9), rgb(235, 61, 8));
  border: none;
  border-radius: 50%;
}


//=================================================================================================
//-------------------------------------- GAME OVER PAGE -------------------------------------------
//=================================================================================================

.game-over-page {
  background: var(--main-bg-color);
  min-height: 100vh;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game-over {
  margin: 15px;
  text-transform: uppercase;
  font-family: 'Slackey', cursive;
  font-size: 4.5rem;
  text-align: center;
}

.points-text {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2.5rem;
  text-align: center;
}

.play-again {
  background: linear-gradient(rgb(246, 201, 77), rgb(219, 135, 9), rgb(235, 61, 8));
  padding: 10px 50px;
  border-radius: 50px;
  border: none;
  margin: 20px;
  margin-bottom: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
}

.play-again:hover {
  background: linear-gradient(rgb(255, 232, 25), rgb(253, 138, 51));
  color: black;
}

//=================================================================================================
//-------------------------------------- @ MEDIA QUERIES ------------------------------------------
//=================================================================================================

//------------------------------------------- TABLET  ---------------------------------------------
@media screen and (min-width: 768px) {
  .start-page {
    justify-content: space-evenly;
  }

  .question-page {
    justify-content: space-around;
  }

  .question-container p {
    max-width: 600px;
  }

  .answers-container button {
    max-width: 500px;
  }

  .game-over-page {
    justify-content: space-evenly;
  }
}

// Anton VVVVVVV
.app {
  margin-block: 20px;
}

p {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 2rem;
  color: black;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  z-index: 10;
  padding: 5px;
}

.questionDiv {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  border: solid 2px white;
  padding: 10px;

  h2 {
    text-align: center;
    width: 100%;
    display: block;
    text-decoration: underline;
    margin-bottom: 50px;
  }

  button {
    border: solid 2px white;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    display: block;
  }
}


//------------------------------------------- DESKTOP ---------------------------------------------
@media screen and (min-width: 1024px) {
  .start-page {
    justify-content: space-evenly;
  }

  .question-page {
    justify-content: space-around;
  }

  .question-container p {
    max-width: 800px;
  }

  .answers-container button {
    max-width: 600px;
  }

  .game-over-page {
    justify-content: space-evenly;
  }
}